# Ignore virtual environments
jenv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

#activate env
activate env.txt
